@charset "UTF-8";

/* Global Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'DM Sans', sans-serif;
}

/* Container Styles */
.backgroundImg {
    position: relative;
    background-image: url(images/about-bg-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.FlexHeader {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
    position: relative;
    z-index: 3;
}

.FlexNav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.FlexNav a {
    color: white;
    text-decoration: none;
}


.FlexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    font-size: 64px;
    position: relative;
    z-index: 3;
}

.BoutonAction1 {
    border: none;
    background-color: #fb2056;
    border-radius: 30px;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
}

.BoutonAction2 {
    border: none;
    background-color: #fb2056;
    border-radius: 30px;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
    text-align: center;
    width: 45%;
}


.BoutonAction1 p {
    margin: 0;
}

/* Form Styles */
.flexCentre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    ;
    padding: 80px 0;
}

.FlexColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.FlexColumn div {
    display: flex;
    flex-direction: column;
}

.FlexColumn input,
.FlexColumn textarea {
    width: 450px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, border 0.3s;
    background-color: #f5f5f5;
}

.FlexColumn button {
    padding: 10px;
    background-color: #fb2056;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.FlexColumn textarea {
    height: 100px;
}

.FlexColumn input:focus,
.FlexColumn textarea:focus {
    outline: none;
    border: 1px dotted black;
    background-color: white;
}

.FlexColumn input:hover,
.FlexColumn textarea:hover {
    background-color: white;
}


.BackColor {
    background-color: #f0f0f0;
    ;
}

.FlexAligner {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.BackIcone {
    background-color: #fb2056;
    padding: 10px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

}





/* Section Spacing */
.Espace {
    margin-bottom: 10px;
}

.Espace1 {
    margin-bottom: 15px;
}

.Espace2 {
    margin-bottom: 50px;
}

/* Footer Styles */
.backgroundFooter {
    background-color: #191919;
}

.FlexFooter {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.MarginFooter {
    padding-bottom: 30px;
}


/*Media*/

.colorkit {
    color: white;
    background-color: #fb2056;
    padding: 10px;
}

.FlexHeader3 {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}


@media screen and (max-width: 922px) {
    .FlexHeader {
        display: none;
        flex-direction: row;
        margin-top: 23px;
    }

    .FlexHeader2 {
        display: none;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 0 20px;
    }

    .logo2 {
        display: flex;
        margin: 20px 0px 20px 20px;
    }


    .FlexHeader3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
        padding: 10px;
    }

    .backgroundImg {
        position: relative;
        background-image: url(images/project-background.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.4);
        height: 30vh;
        color: white;
        margin: 0;
        padding: 0;
    }

    .FlexCentre {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        font-size: 64px;
        position: relative;
        z-index: 3;
    }

}



@media (max-width: 1024px) {
    .backgroundImg {
        position: relative;
        background-image: url(images/about-bg-2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 35vh;
        color: white;
    }

    .FlexCentre {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        font-size: 64px;
        position: relative;
        z-index: 3;
    }

}

@media (max-width: 768px) {

    .flexCentre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
        gap: 50px;
        padding: 100px 0;
    }

    .FlexCentre {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        font-size: 64px;
        position: relative;
        z-index: 3;
    }

    .FlexColumn input,
    .FlexColumn textarea {
        width: 95%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: background-color 0.3s, border 0.3s;
        background-color: #f5f5f5;
    }

    .BoutonAction2 {
        border: none;
        background-color: #fb2056;
        border-radius: 30px;
        color: white;
        padding: 10px 40px;
        cursor: pointer;
        text-align: center;
        width: 30%;
    }

    .FlexWrap {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
}